asgiref>=3.7.2
cryptography>=41.0.7
daphne>=4.0.0
Django>=5.2a1
django-debug-toolbar>=4.2.0
djangorestframework>=3.14.0
python-dotenv>=1.0.0
pytz>=2023.3.post1
requests>=2.31.0
channels_redis~=4.2.1
channels>=4.1.0
adrf~=0.1.8
trio~=0.27.0
docker~=7.1.0
Hypercorn~=0.17.3
python-magic~=0.4.27
